@tailwind base;
@tailwind components;
@tailwind utilities;

.testimonial-bg {
  background-color: #e5e5f7;
  opacity: 0.6;
  background: linear-gradient(135deg, #01002f55 25%, transparent 25%) -8px 0/
      16px 16px,
    linear-gradient(225deg, #01002f 25%, transparent 25%) -8px 0/ 16px 16px,
    linear-gradient(315deg, #01002f55 25%, transparent 25%) 0px 0/ 16px 16px,
    linear-gradient(45deg, #01002f 25%, #e5e5f7 25%) 0px 0/ 16px 16px;
}
